*{
    margin: 0;
    padding: 0;
}
:root{
    --bg-color: hsl(49 37% 94%);
    --escritura: 3s;
}
h1{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
    text-align: center;
}
body {
    font-family: 'Arial', sans-serif;
    background-color: #01101F;
    min-height: 100vh;
    background-position: center;
}
.escritura{
    display: grid;
    place-content: center;
    text-align: center;
}

.escritura h1{
    position: relative;
    width: max-content;
}
.escritura h1::before, .escritura h1::after{
  content: "";
  position: absolute;
  right: 0;
  top:0;
  bottom: 0;
  left: 0;
}
.escritura h1::before{
    background: var(--bg-color);
    animation: typing var(--escritura) 1s forwards;
}
.escritura h1::after{
    width: 0.125em;
    background: #01101F;
    animation: typing var(--escritura) 1s forwards;
}
@keyframes typing{
    to{
        left: 100%;
    }
}
#inicio {
    text-align: center;
    color: white;
}
.logoW{
    width: 20px;
    height: 20px;
    background-image: url('img/WhatLogo.png');
    background-size: cover;
    background-position: center;
    border: none;
    cursor: pointer;
    border-radius: 50%;
}

.logop{
    width: 500px;
    height: 500px;
    align-items: center;
}

.logos {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}
nav{
    background-color: #141414;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav li{
    height: 70px;
}
nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
}
nav a:hover{
    background-color:#01101F;
}
  nav li:first-child{
    margin-right: auto;
}
.barrala{
    position: fixed;
    top: 0; 
    right: 0;
    height: 100vh;
    width: 250px;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(12px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    list-style: none;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    z-index: 1000;
}
.barrala li{
    width: 100%;
}
.barrala a{
    width: 100%;
    color: white;
}
.menub{
    display: none;
}
@media(max-width: 800px){
    .hideOnMobile{
      display: none;
    }
    .menub{
      display: block;
    }
  }
  @media(max-width: 400px){
    .barrala{
      width: 100%;
    }
  }

.logo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}
p{
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    animation-name: show;
}

.Correos{
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 23px;
}
h2{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
}

table{
    margin-left: auto;
    margin-right: auto;
}
@keyframes fade{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

footer{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    bottom: 0;
    text-align: center;
    width: 100%;
    color: white;
    margin-top: 20px;
    opacity: 0;
    animation: fade 2s ease calc(var(--escritura) + 4s) forwards;;
}

td{
    border-left: 2px solid white;
    width: 40vh;
    height: 35vh;
    border-bottom: 2px solid white; 
}
.table{
    border: 2px solid white;
}
.opiniones{
    background-color: #011931;
    margin-left: 200px;
    margin-right: 200px;
}
@keyframes show{
    from{
        opacity: 0;
        scale: 25%;
    }
    to{
        opacity: 1;
        scale: 100%;
    }
}

img{
    view-timeline-name: --image;
    view-timeline-axis: block;

    animation-timeline: --image;
    animation-name: show;

    animation-range: entry 25% cover 50%;
    animation-fill-mode: both;
}

@keyframes aparecer{
    to {
        opacity: 1;
        transform: translateY(0);
      }
}

.cargar{
    margin-top: 10px;
    opacity: 0;
    transform: translateY(3rem);
    animation: aparecer 2s ease calc(var(--escritura) + 2s) forwards;
    min-height: 80vh;
}

.cite{
    color: white;
    font-size: 20px;
    margin-left: 70px;
}