p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
}
body{
    background-color: snow;
}
a{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
table{
    border:2px solid #000000;
    margin-left: auto;
    margin-right: auto;
}
td{
    border-left: 2px solid black;
}
th{
    border-left: 2px solid black;
}
th{
    border-bottom: 2px solid black;
}
#titulo{
    font-family: Arial, Helvetica, sans-serif;
    background-color:darkmagenta;
    color: snow;
    border-bottom: 2px solid black;
}
.formulario{
    text-align: center;
}
strong{
    text-align: center;
}
img{
    text-align: left;
    margin-top: 5px;
    background-position: left;
}
footer{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    bottom: 0;
    text-align: center;
    width: 100%;
}
#boton1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: darkmagenta;
    color:snow;
    margin-left: 1420px;
}
#boton2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: darkmagenta;
    color:snow;
    margin-left: 310px;
}